doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/angular-chart.min.css')
    script(src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/ng-google-chart.js')
    script(src='/javascripts/global.js')
    
    
  body(ng-app="adminApp")
    block content

    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js')
    script(src='/javascripts/moment.js')
    
    

